<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tempora ab reprehenderit sapiente doloremque ducimus, libero provident ex dolore magni, commodi facere, perspiciatis laboriosam illo cum hic similique in porro.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, sit nostrum quia quibusdam, perspiciatis, ducimus laudantium possimus eius a aut illum architecto culpa recusandae! Amet ducimus officiis cum illum repellendus!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores iure, molestias nam quo beatae culpa dolores, sit corrupti ex non nisi repellat amet. Nesciunt mollitia ipsum, tempore illo sunt sit.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>